body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: rgb(81, 74, 74); /* Устанавливаем цвет фона для navbar */
    margin: 0; /* Убираем отступы у navbar */
    border: none; /* Убираем границы у navbar */
    padding: 0; /* Убираем отступы у navbar */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Чтобы меню было поверх других элементов */
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}   

.navbar-nav {
    font-size: 1.1rem;
    margin-right: 100px; /* Расстояние между элементами */
    padding-right: 100px;
}

.profile-icon {
    font-size: 1.5rem;
}

.container-fluid {
    background-color: rgb(81, 74, 74);
    padding-left: 30px; /* Расстояние слева */
    padding-right: 30px; /* Расстояние справа */
}

.content {
    margin-top: 50px;
    text-align: center;
}

.content h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.content p {
    font-size: 1.2rem;
    color: white;
}

/* Стили для основного баннера */
.jumbotron {
    margin-top: 50px;
    position: relative;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.jumbotron::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.jumbotron .display-4,
.jumbotron .lead,
.jumbotron .toggle-description {
    z-index: 1;
}

.toggle-description {
    color: white;
    cursor: pointer;
    text-decoration: underline;
}

/* Стили для описания квартиры */
#apartment-description {
    display: none;
    padding: 2rem 0;
}

footer p {
    margin: 0.5rem 0;
}

/* Основные стили */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

/* Стили для страницы Заселения */
#booking-form {
    background-color: rgba(52, 58, 64, 0.8); /* #343a40 с прозрачностью 80% */
    color: white; /* Чтобы текст был виден на темном фоне */
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 35px;
}

#booking-form .form-label {
    font-weight: bold;
    color: white;
}

#booking-form .form-control {
    background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный белый фон */
    border: 1px solid #ccc;
}

#booking-form .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

#booking-form .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.card {
    border: none;
    background-color: #343a40;
    opacity: 0.8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: white;
}

.ui-datepicker-unselectable .ui-state-disabled {
    text-decoration: line-through;
    color: red !important;
}

/* Стили для футера */
footer {
    background-color: #343a40;
    color: white;
    padding: 1rem 0;
    position: relative;
    width: 100%;
}

footer p {
    margin: 0.5rem 0;
}

.form-label {
    color: black;
}

.list-group-item {
    background-color: #343a40;
    opacity: 0.8;
    color: white;
}

.container {
    color: white;
}

#carouselWithCaptions {
    max-width: 850px; /* Ширина карусели */
    max-height: 650px; /* Высота карусели */
    margin: 0 auto; /* Центрирование карусели */
}

#carouselWithCaptions .carousel-item img {
    width: 100%;
    height: auto; /* Сохранение пропорций изображения */
    object-fit: contain; /* Адаптация изображения к размеру контейнера без обрезки */
}

.btn_after_carousel {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}