body {
    font-family: Arial, sans-serif;
}

html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

.navbar {
    background-color: rgb(81, 74, 74); /* Устанавливаем цвет фона для navbar */
    margin: 0; /* Убираем отступы у navbar */
    border: none; /* Убираем границы у navbar */
    padding: 0; /* Убираем отступы у navbar */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Чтобы меню было поверх других элементов */
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}   

.navbar-nav {
    font-size: 1.1rem;
    padding-right: 100px;
    color: #1f1e1e;
}

#dropdown-person {
    display: none;
}

#dropdown_places {
    display: none;
}

.places-nav {
    position: fixed;
    top: 3rem;
    right: auto;
    border: .1rem solid rgb(52, 56, 54);
    padding: .1rem .5rem .1rem .1rem;
    border-radius: 1rem;
    z-index: 999;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.8);
    opacity: 0;
    transform-origin: top;
    transform: scale(0);
    transition: 0.5s;
}

#dropdown_places:checked ~ .places-nav {
    opacity: 1;
    transform: scale(1);
    transition: 0.5s;
}

.places-nav ul a {
    display: block;
    font-size: 1.3rem;
    padding: 1rem 1rem .1rem 0rem;
    color: #fff;
    transition: 0.3s;
    text-decoration: none;
}

.navbar-nav label {
    margin-top: .5rem;
    margin-left: 1.5rem;
}

.places-nav ul a:hover {
    color: rgb(52, 56, 54);
    transform: translateX(.3rem);
}

#navbarNav label {
    text-align: center;
    z-index: 1000;
    cursor: pointer;
}

#navbarNav img {
    width: 35px;
    height: 35px;
}

.person-nav {
    position: fixed;
    top: 3rem;
    right: 0.2rem;
    border: .1rem solid rgb(52, 56, 54);
    padding: .1rem .5rem .1rem .1rem;
    border-radius: 1rem;
    z-index: 999;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.8);
    opacity: 0;
    transform-origin: top right;
    transform: scale(0);
    transition: 0.5s;
}

#dropdown-person:checked ~ .person-nav {
    opacity: 1;
    transform: scale(1);
    transition: 0.5s;
}

.person-nav ul a {
    display: block;
    font-size: 1.3rem;
    padding: 1rem 1rem .1rem 0rem;
    color: #fff;
    transition: 0.3s;
    text-decoration: none;
}

.person-nav ul a:hover {
    color: rgb(52, 56, 54);
    transform: translateX(.3rem);
}

.container-fluid {
    background-color: rgb(81, 74, 74);
    padding-left: 30px; /* Расстояние слева */
    padding-right: 30px; /* Расстояние справа */
}

.content {
    margin-top: 50px;
    text-align: center;
}

.content h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.content p {
    font-size: 1.2rem;
    color: white;
}

/* Стили для основного баннера */
.jumbotron {
    margin-top: 50px;
    position: relative;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.jumbotron::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.jumbotron .display-4,
.jumbotron .lead,
.jumbotron .toggle-description {
    z-index: 1;
}

.toggle-description {
    color: white;
    cursor: pointer;
    text-decoration: underline;
}

/* Стили для описания квартиры */
#apartment-description {
    display: none;
    padding: 2rem 0;
}

/* Основные стили */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    display: inherit;
}

/* Стили для страницы Заселения */
#booking-form {
    background-color: rgba(52, 58, 64, 0.8); /* #343a40 с прозрачностью 80% */
    color: white; /* Чтобы текст был виден на темном фоне */
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 35px;
}

#booking-form .form-label {
    font-weight: bold;
    color: white;
}

#booking-form .form-control {
    background-color: rgba(255, 255, 255, 0.8); /* Полупрозрачный белый фон */
    border: 1px solid #ccc;
}

#booking-form .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

#booking-form .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.card {
    border: none;
    background-color: #343a40;
    opacity: 0.8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: rgb(0, 0, 0);
}

.ui-datepicker-unselectable .ui-state-disabled {
    text-decoration: line-through;
    color: red !important;
}

.form-label {
    color: black;
}

.list-group-item {
    background-color: #343a40;
    opacity: 0.8;
    color: white;
}

.container {
    color: white;
}

#carouselWithCaptions {
    max-width: 850px; /* Ширина карусели */
    max-height: 650px; /* Высота карусели */
    margin: 0 auto; /* Центрирование карусели */
}

#carouselWithCaptions .carousel-inner {
    border: .3rem solid #8b7e4fd6;
    border-radius: .8rem;
}

#carouselWithCaptions .carousel-item img {
    width: 100%;
    height: auto; /* Сохранение пропорций изображения */
    object-fit: contain; /* Адаптация изображения к размеру контейнера без обрезки */
}

.btn_after_carousel {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#card_place {
    margin-top: 80px;
    margin-bottom: 40px;
    margin-left: 80px;
    background-color: rgba(176, 123, 55, 0.716);
    flex-direction: column;
    align-items: center;
    color: #000;
    border: .1rem solid #000000;
    text-align: center;
}

#card_place img {
    margin-top: 10px;
}

.card-body {
    color: black;
}

.card-body p {
    color: white;
}

.btn-in-places {
    width: 170px;
    height: 40px;
    background: #00c2a7;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .5s;
}

.btn-in-places:hover {
    background: #fff;
    color: #00c2a7;
}

.filter {
    margin-top: 80px;
    padding: 20px;
    background-color: #718293;
    border: 1px solid #718293;
    border-radius: 15px;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: 55px;
}

.form-group {
    margin-bottom: 25px;
}

.wrapper {
    position: relative;
    left: -10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    box-shadow: 0 0 60px #000;
    border-radius: 10px;
    margin-left: 710px;
    margin-top: 110px;
    margin-bottom: 70px;
    background-color: rgba(217, 176, 118, 0.514);
}
.wrapper h2 {
    font-size: 2em;
    color: white;
    text-align: center;
}
.input-group {
    position: relative;
    width: 320px;
    margin: 30px 0;
    color: white;
}
.input-group input {
    width: 100%;
    height: 40px;
    font-size: 1em;
    color: white;
    padding: 0 10px 0 35px;
    background: transparent;
    border: 1px solid #fff;
    outline: none;
    border-radius: 5px;
}
.input-group input::placeholder {
    color: rgba(255, 255, 255, .3);
}
.input-group .icon {
    position: absolute;
    display: block;
    left: 10px;
    color: #fff;
    font-size: 1.2em;
    line-height: 45px;
}
.forgot-pass {
    margin: -15px 0 15px;
}
.forgot-pass a {
    color: #fff;
    font-size: .9em;
    text-decoration: none;
}
.forgot-pass a:hover {
    text-decoration: underline;
}
.btn-in-login {
    position: relative;
    width: 100%;
    height: 40px;
    background: #00c2a7;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .5s;
}
.btn-in-login:hover {
    background: #fff;
    color: #00c2a7;
}
.sign-link {
    font-size: .9em;
    text-align: center;
    margin: 25px 0;
}
.sign-link p {
    color: #fff;
}
.sign-link p a {
    color: #00c2a7;
    text-decoration: none;
    font-weight: 600;
}
.sign-link p a:hover {
    text-decoration: underline;
}

.identifier {
    width: 1400px;
    height: auto; /* Изменено с фиксированной высоты на auto */
    padding: 25px;
    border: .1rem solid #000000;
    box-shadow: .1rem rgba(0,0,0,.8);
    background-color: rgba(217, 176, 118, 0.514);
    margin: 5rem auto 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    border-radius: 20px;
}

.identifier h1 {
    margin-bottom: 3rem;
}

.columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main-data {
    display: flex;
    flex-direction: column;
    width: 48%; /* Обеспечивает равномерное распределение столбцов */
}

.text-field {
    margin-bottom: 1rem;
    width: 100%;
    height: auto;
    margin: 1.5rem 6rem;
}

.text-field__label {
    display: block;
    margin-bottom: 0.25rem;
    text-align: left;
    font-size: large;
}

.text-field__input {
    display: block;
    width: 70%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #221d1d;
    background-color: #edab5546;
    background-clip: padding-box;
    border: 2px solid #000000;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-in-identificate {
    margin-bottom: 40px;
    margin-left: 540px;
    width: 30%;
    height: 50px;
    background: #00c2a7;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .5s;
}

.btn-in-identificate:hover {
    background: #fff;
    color: #00c2a7;
}

/* Основной стиль всплывающего окна */
.error-popup {
    position: absolute;
    width: 28rem;
    margin: 0rem .1rem;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.748);
    color: white;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease, top 0.5s ease;
    z-index: 1000; /* Окно будет сверху других элементов */
    text-align: center;
}

/* Плавное появление окна */
.error-popup.show {
    opacity: 1;
    pointer-events: auto;
}

/* Стиль текста ошибки */
.error-popup__text {
    font-size: 14px;
    margin-right: 20px;
}
