{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static "css/bootstrap/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static 'css/style_for_base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>

<!-- Навигационное меню -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url "main:index" %}">RentVlg</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "rent:rent" %}">Заселение</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Куда сходить</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">О нас</a>
                </li>
            </ul>
            <a class="nav-link profile-icon" href="#">
                <i class="bi bi-person-circle"></i>
            </a>
        </div>
    </div>
</nav>

{% block content %}
{% endblock %}

<style>
    body {
    background-image: url('{% static 'images/volgograd.jpg' %}'); 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
    color: white;
    }
</style>

<!-- Footer -->
<footer class="bg-dark text-white text-center py-4">
    <div class="container">
        <p>Адрес: ул. Примерная, д. 1, Волгоград</p>
        <p>Телефон: +7 123 456 7890</p>
        <p>Email: info@rentvlg.ru</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/rent.js' %}"></script>
</body>
</html>
